nav {
  width: 1280px;
  height: 80px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid white;
}
nav a {
  text-decoration: none;
  text-transform: lowercase;
  font-size: 26px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: lighter;
  color: gray;
  margin-right: 20px;
}
nav .logo {
  width: 92px;
  height: 42px;
  border: solid 2px lightgray;
  position: relative;
  margin-left: 800px;
}
nav .logo p {
  position: absolute;
  font-size: 24px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: lighter;
  margin-left: 48px;
  top: 16px;
  color: gray;
}