.banner {
    position: relative;
    width: 1280px;
    height: 200px;
    background-image: url(../images/hero4.jpg);
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
}